body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.hero-section {
  background-image: linear-gradient(to bottom, #333, #666);
  background-size: 100% 300px;
  background-position: 0% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 60px;
}

.krishna-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #333, #666);
  opacity: 0.5;
}

.krishna-text {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.about-section {
  padding: 2em;
  margin-top: 60px;
}

.krishna-teachings {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  animation: color-change 5s infinite;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 1em;
  width: 30%;
  transition: background-color 0.3s ease-in-out;
}

.card:hover {
  background-color: #f7dc6f;
}

.skills-section {
  padding: 2em;
}

.contact-section {
  padding: 2em;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

@keyframes color-change {
  0% {
    background-color: #f2c94c;
  }
  50% {
    background-color: #f7dc6f;
  }
  100% {
    background-color: #f2c94c;
  }
}
